*{
    padding: 0;
    margin: 0;
}

body{
    height: auto;
    background-color: #ffffff;
}
header {
    background-color: #00AFF0; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno del encabezado */
    display: flex; /* Mostrar elementos en línea */
    justify-content: space-between; /* Alinear elementos en el encabezado */
    height: 3vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo del botón */
}

/* Estilos para el logotipo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px; /* Ancho de la imagen del logotipo */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espaciado a la derecha de la imagen */
    cursor: pointer; /* Cambiar el cursor al hacer clic en la imagen */
}

/* Estilos para los botones */
.botones {
    display: flex; /* Mostrar botones en línea */
    align-items: center; /* Alinear botones verticalmente al centro */
    
}

.boton {
    background-color: #00AFF0; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px; /* Espaciado interno del botón */
    margin-left: 10px; /* Espaciado entre botones */
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
}

.prueba + .prueba {
    border-left: 1px solid #fff; /* Línea entre botones */
}

#imagenp {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url(imagenes/manta.jpg);
    background-size: cover;
    background-position: center;
}

#titulosec {
    position: relative;
    bottom: 50%;
    left: 50%;
    top: 72%;
    transform: translate(-50%, 50%);
    background-color: rgba(0, 175, 240, 1);
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    width: 80%;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
}

#tituloprincipal {
    font-size: 24px;
    font-weight: bold;
}

#textopequeno {
    font-size: 14px;
    font-style: italic;
}

#textonegrilla {
    font-weight: bold;
}

.hoja-4a {
    width: 210mm; /* Ancho de una hoja tamaño 4A en milímetros */
    height: auto; /* Altura automática según el contenido */
    background-color: #fff; /* Color de fondo blanco */
    padding: 10mm; /* Margen interno para simular el grosor de la hoja */
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.2); /* Sombra para simular el grosor */
    margin: 20mm auto; /* Márgenes superior e inferior para centrar la hoja */
}



.containerdatos {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    height: auto;
    background-color: #00AFF0; /* Color de fondo del footer */
    padding: 10px;
}

.logotipo {
    float: left;
    width: 10%; /* Tamaño del logotipo grande */
    padding: 10px; /* Espaciado alrededor del logotipo */
}

.imagenes-pequenas {
    float: right;
    width: 2%; /* Tamaño de cada imagen pequeña */
    margin-right: 2%; /* Espacio entre las imágenes pequeñas */
}

.clear {
    clear: both; /* Limpia los flotantes */
}
.news-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.news-card p {
    margin: 5px 0;
}

.boton-inscribirse {
    background-color: #66cfff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
h1 {
    text-align: center;
}